<div class="backdrop"></div>
<nav>
  <div class="sections">
    <div class="icon">
      <app-icon-button [icon]="closeIcon"></app-icon-button>
    </div>
    <ul>
      <li><a href="#">הדעות שלי</a></li>
      <li><a href="#">ההצבעות שלי</a></li>
      <li><a href="#">כתיבת דעה חדשה</a></li>
    </ul>
  </div>
  <div class="footer">
    <p>לינקים שימושיים</p>
    <ul>
      <li><a href="#">אודות האתר</a></li>
      <li><a href="#">תנאי השימוש באתר</a></li>
      <li><a href="#">קוד האתר ב־GitHub</a></li>
    </ul>
  </div>
</nav>
