@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;900&display=swap')
@import "./variables"

html
    font-family: Rubik, Arial, Helvetica, sans-serif
    font-size: 20px

*
    margin: 0
    padding: 0

body
    background: black
    color: white

h1
    font-size: 1rem
    font-weight: 900

button
    cursor: pointer
    color: inherit
    font-size: inherit
    border: 0

    &.transparent
        background: transparent
        padding: 0.25em
        margin: -0.25em