<div class="options" [class.results]="results">
  <div class="option agree" [style]="{ flex: results?.agree ?? 50 }">
    <button class="transparent" (click)="onButtonClick('agree')">
      <div class="content">
        <p *ngIf="results" class="percentage">{{ results.agree }}%</p>
        <p class="text">{{ results ? "מסכימים" : "אני מסכים!" }}</p>
      </div>
    </button>
  </div>
  <div class="option disagree" [style]="{ flex: results?.disagree ?? 50 }">
    <button class="transparent" (click)="onButtonClick('disagree')">
      <div class="content">
        <p *ngIf="results" class="percentage">{{ results.disagree }}%</p>
        <p class="text">{{ results ? "לא מסכימים" : "אני לא מסכים!" }}</p>
      </div>
    </button>
  </div>
</div>
