<div class="options" [class.results]="votes">
  <div class="option agree" [style]="{ flex: votes?.agree ?? 50 }">
    <button class="transparent" (click)="onButtonClick('agree')">
      <div class="content">
        <p *ngIf="percentages" class="percentage">{{ percentages.agree }}%</p>
        <p class="text">{{ votes ? "מסכימים" : "אני מסכים!" }}</p>
      </div>
    </button>
  </div>
  <div class="option disagree" [style]="{ flex: votes?.disagree ?? 50 }">
    <button class="transparent" (click)="onButtonClick('disagree')">
      <div class="content">
        <p *ngIf="percentages" class="percentage">
          {{ percentages.disagree }}%
        </p>
        <p class="text">
          {{ votes ? "לא מסכימים" : "אני לא מסכים!" }}
        </p>
      </div>
    </button>
  </div>
</div>
