@import "variables"

:host
    position: relative
    display: block

    header
        position: absolute
        inset-inline: 0
        inset-block-start: 0
        pointer-events: all

        display: flex
        justify-content: space-between
        align-items: center
        padding: $padding-y $padding-x
